<footer class="footer">
  {% block footer %}
  <div class="container text-center" style="padding-top: 15px;">

      
    <div class="row">
      <div class="col-md-6">
	     <small>&copy; 2015<script type="text/javascript">new Date().getFullYear()>2015&&document.write("-"+new Date().getFullYear());</script> Blake Commagere</small>
      </div>
      <div class="col-md-2 col-md-offset-4">

        <a href = "https://www.facebook.com/commagere"  target="_blank" ><img alt="Facebook button" src="/static/img/social_icons/email_signature/facebook_16.png"/></a>
        <a href = "https://twitter.com/commagere" target="_blank" ><img alt="Twitter button" src="/static/img/social_icons/email_signature/twitter_16.png"/></a> 
        {#
        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/commagere" data-format="hover" data-related="false"></script>
        #}
        <a href = "https://www.linkedin.com/in/commagere" target="_blank" ><img alt="LinkedIn button" src="/static/img/social_icons/email_signature/linkedin_16.png"/></a>
        <a href = "https://angel.co/commagere" target="_blank" ><img alt="AngelList button" src="/static/img/social_icons/email_signature/angel_list_16.png"/></a>
        <a href = "https://www.google.com/+blakecommagere" target="_blank" rel="publisher"><img alt="Google Plus button" src="/static/img/social_icons/email_signature/googleplus_16.png"/></a>
      </div>
    </div> {# row #}

  </div> {# container #}

  {% endblock %}
</footer> 