<div id="footer">
  {% block footer %}
  <div class="container text-center" style="padding-top: 15px;">

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <small>&copy;{{current_year}} Blake Commagere</small>
      </div>
      <div class="col-md-2 ">
        <small><a href="https://medium.com/@commagere" target="_blank">Blog</a></small>
      </div>

      <a href = "https://www.facebook.com/commagere"  target="_blank" ><img alt="Facebook button" src="/static/img/social_icons/email_signature/facebook_16.png"/></a>
      <a href = "https://twitter.com/commagere" target="_blank" ><img alt="Twitter button" src="/static/img/social_icons/email_signature/twitter_16.png"/></a> 
      <a href = "https://www.linkedin.com/in/commagere" target="_blank" ><img alt="LinkedIn button" src="/static/img/social_icons/email_signature/linkedin_16.png"/></a> 
      <a href = "https://angel.co/commagere" target="_blank" ><img alt="AngelList button" src="/static/img/social_icons/email_signature/angel_list_16.png"/></a>
      <a href = "https://www.google.com/+blakecommagere" target="_blank" rel="publisher"><img alt="Google Plus button" src="/static/img/social_icons/email_signature/googleplus_16.png"/></a>
    </div> {# row #}

  </div> {# container #}

  {% endblock %}
</div> {# footer #}