</script> <script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Blake Commagere",
  "jobTitle": "Founder & CEO",
  "worksFor": "MediaSpike, Inc.",
  "description": "Serial Entrepreneur, Angel Investor, Advisor",
  "image": "https://dl.dropboxusercontent.com/u/286387624/profile.jpg",
  "url" : "http://www.commagere.com",
  "sameAs" : [ "https://twitter.com/commagere",
      "https://www.linkedin.com/in/commagere",
      "https://www.facebook.com/commagere",
      "https://angel.co/commagere",
      "https://about.me/commagere",
      "https://medium.com/@commagere",
      "https://www.crunchbase.com/person/blake-commagere",
      "http://disqus.com/by/commagere",
      "https://github.com/commagere",
      "http://www.last.fm/user/commagere",
      "https://instagram.com/blakecommagere",
      "http://commagere.yelp.com",
      "https://www.pinterest.com/blakecommagere",
      "http://commagere.tumblr.com",
      "https://www.quora.com/Blake-Commagere",
      "https://keybase.io/commagere",
      "https://vine.co/commagere",
      "http://www.twitch.tv/blakecommagere/profile",
      "https://stackoverflow.com/users/561882/commagere",
      "https://plus.google.com/u/0/+blakecommagere"] 
}
</script>