{{define "json_ld"}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Blake Commagere",
  "url": "https://commagere.com",
  "image": "https://commagere.com/static/img/profile.jpg",
  "jobTitle": "Angel Investor, Entrepreneur",
  "sameAs": [
    "https://x.com/commagere",
    "https://linkedin.com/in/commagere",
    "https://www.facebook.com/commagere",
    "https://github.com/commagere"
  ],
  "description": "Angel Investor in over 100 companies."
}
</script>
{{end}}