<!DOCTYPE html>
<html lang="en">
<!--
                                                   ,-._.-._.-._.-._.-.
                                                   `-.             ,-'
 .-------------------------------------------.       |             | 
| Want to view my source?                     |      |             |  
| I'm flattered.                              |      |             | 
|                                             |      |             |
| But there is an easier way.                 |     ,';".________.-.        
| Just go here:                               |     ;';_'         )] 
| https://github.com/commagere/commagere.com  |    ;             `-|  
|                                             `.    `T-            |  
 `-------------------------------------------._ \    |             |
                                               `-;   |             |
                                                     |..________..-|
                                                    /\/ |________..|
                                               ,'`./  >,(           |
                                               \_.-|_/,-/   ii  |   |
                                                `."' `-/  .-"""||    |   
                                                 /`^"-;   |    ||____| 
                                                /     /   `.__/  | ||
                                                     /           | ||
                                                                 | ||
-->
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> #}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="sitelock-site-verification" content="8397" />
	 <!-- site verification for pinterest -->
    <meta name="p:domain_verify" content="c615e688912e9e8d0c770fcb388f23ad"/>
	 <!-- site card for twitter: https://dev.twitter.com/cards/types/summary-large-image -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@commagere">
    <meta name="twitter:title" content="Blake Commagere">
    <meta name="twitter:description" content="Blake is a growth expert, serial entrepreneur, angel investor, and an advisor to several companies in the SF Bay Area. In his career, he has raised over $12 million in VC/Seed funding, started 7 companies, and sold 5 of them. He regularly gives talks on a wide variety of subjects including: Growth Hacking/Viral Marketing, Fundraising, and Building Positive Cultures. https://commagere.com">
    <meta name="twitter:image" content="https://commagere.com/static/img/profile.jpg">
    
    <!-- TODO: this needs a valid favicon.ico file -->
    <link rel="icon" href="/favicon.ico">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include 'views/includes/json_ld.html' %}
    <style type="text/css">
      /* http://getbootstrap.com/examples/sticky-footer-navbar/ */
      /* Sticky footer styles -------------------------------------------------- */
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        /* padding for fixed navbar on top*/
        padding-top: 70px; 
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5; 
      }
      /* end sticky footer styles */
      /* ensures fixed nav is handled well */

      .container .text-muted {
        margin: 20px 0;
      }

      .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
      }
    </style>
  </head>
  <body>
    {% include 'views/includes/google_tag_manager.html' %}

    {% set navigation_bar = [
    ] -%}

    {% set active_page = active_page|default('index') -%}

    {% include 'views/includes/navbar.html' %}
    {% block body %}{% endblock %}
    {% include 'views/includes/footer.html' %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/libs/ie10-viewport-bug-workaround.js"></script>
    
    <script>
    <!-- function for smooth scrolling on-page anchor tags -->
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 600);
            return false;
          }
        }
      });
    });
    </script>
    
    {# Since we use this on multiple pages, best to include here #}
    {# https://dev.twitter.com/web/embedded-timelines #}    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </body>
</html>